<ion-tabs style="color:blue">
  <ion-tab-bar slot="bottom" style="color:blue">
    <ion-tab-button tab="home">
      <img src="assets/home1.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label style="color:white">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="assets/search1.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label style="color:white">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <img src="assets/map1.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label style="color:white">Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <img src="assets/lamp1.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label style="color:white">Tips</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 
