<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="assets/homePage.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="assets/searchPlace.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <img src="assets/map.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <img src="assets/setting.png" style="width:24px; height:24px; display:block; margin:auto;" />
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 