<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="assets/home1.png" class="tab-icon" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="assets/search1.png" class="tab-icon" />
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <img src="assets/map1.png" class="tab-icon" />
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <img src="assets/lamp1.png" class="tab-icon" />
      <ion-label>Others</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
