
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      ALERTO!
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotifications()" class="notification-button">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge *ngIf="unreadNotificationCount > 0" class="notification-badge">
          {{ unreadNotificationCount > 99 ? '99+' : unreadNotificationCount }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="home-content">
    <div class="disaster-container">
      <div class="disaster-grid">

      <ion-card class="disaster earthquake" (click)="openDisasterMap('earthquake')">
        <ion-card-content>
          <img src="assets/icon/linog icon.png" alt="Earthquake">
          <ion-text><u>Earthquake</u></ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card class="disaster typhoon" (click)="openDisasterMap('typhoon')">
        <ion-card-content>
          <img src="assets/icon/bagyo.png" alt="Typhoon">
          <ion-text><u>Typhoon</u></ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card class="disaster flood" (click)="openDisasterMap('flashflood')">
        <ion-card-content>
          <img src="assets/icon/baha.jpg" alt="Flood">
          <ion-text><u>Flash Flood</u></ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card class="disaster fire" (click)="openDisasterMap('fire')">
        <ion-card-content>
          <img src="assets/icon/fire.jpg" alt="Fire">
          <ion-text><u>Fire</u></ion-text>
        </ion-card-content>
      </ion-card>

      <ion-card class="disaster landslide" (click)="openDisasterMap('landslide')">
        <ion-card-content>
          <img src="assets/icon/lanslide.jpg" alt="Landslide">
          <ion-text><u>Landslide</u></ion-text>
        </ion-card-content>
      </ion-card>

    </div>

    <!-- See Whole Map Button -->
    <div class="map-button-container">
      <ion-button expand="block" class="see-map-btn" (click)="viewMap()" [disabled]="isOffline">
        See the whole map
      </ion-button>
    </div>

  

  </div>
</div>


