<ion-content class="intro-bg">
  <div class="intro-wrapper">
    <!-- App Logo/Icon -->
    <div>
      <img src="assets/ALERTO.png"/>
    </div>

    <div class="button-container">
      <ion-button
        expand="block"
        class="login-btn"
        (click)="goToLogin()">
        Log In
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        class="signup-btn"
        (click)="goToRegister()">
        Sign Up
      </ion-button>
    </div>
  </div>
</ion-content>
